@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


html {
  scroll-behavior: smooth; 
}

.skills {
  padding: 3.125rem 1.25rem;
  background-color: #2f6a4f; 
  color: #f5e8c7; 
  text-align: center;
  scroll-margin-top: 3rem; 
}

.skills .section-title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  color: #f5e8c7;
  font-weight: bold;
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 50rem;
  margin: 0 auto;
}

.skill-item {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.skill-header i {
  font-size: 1.5rem;
  color: #f5e8c7;
}

.skill-header span {
  font-size: 1rem;
  font-weight: bold;
  color: #f5e8c7;
}

.progress-bar {
  background-color: #2e5d48; 
  border-radius: 0.3125rem;
  overflow: hidden;
  height: 0.625rem;
}

.progress-bar .progress {
  height: 100%;
  background: linear-gradient(90deg, #c5a880, #f5e8c7); /* Beige gradient */
  transition: width 0.5s ease-in-out;
  border-radius: 0.3125rem;
}
